DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=hypermarket
DB_USER=hypermarket
DB_PASS=hypermarket
DB_ROOT_PASS=rootpass
RECAPTCHA_SITE_KEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
RECAPTCHA_SECRET_KEY=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
CONTACT_ADMIN_EMAIL=admin@example.com
